{% if page.cover %}
{% assign cover = page.cover %}
{% elsif site.cover %}
{% assign cover = site.cover %}
{% endif %}

<header class="main-header detail-page image-bg {% if cover %} has-cover" style="background-image: url({{ cover | absolute_url }})" {% else %} no-cover" {% endif %}>
    <h1 class="page-title"><a href="{{ "/" | absolute_url }}" title="{{ site.title }}">{{ site.title }}</a></h1>
    <h2 class="page-description">{{ site.subtitle }}</h2>
    <div class="nav">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for my_page in pages %}

            {% if my_page.menutitle %}
            {% assign title = my_page.menutitle %}
            {% elsif site.title %}
            {% assign title = my_page.title %}
            {% endif %}

            {% if title and my_page.visible != false %}
            <a class="page-link" href="{{ my_page.url | absolute_url }}" title="{{ title }}">{{ title }}</a>
            {% endif %}
            {% endfor %}
            <a class="page-link" href="http://t.dmp2017.pl" title="tournament">TOURNAMENT</a>
    </div>
</header>
{% if page.visible != false %}
  <div id="sponsors" class="md-card no-border">
      <a href="http://vanaheim.pl/pl/" target="_new">
          <img class="sponsor" src="{{ "/assets/loga/vanaheim2.png" | absolute_url }}" alt="vanaheim" />
      </a>
      <a href="http://terrains5u.nazwa.pl/sklep/" target="_new">
          <img class="sponsor" src="{{ "/assets/loga/terenydogier3.png" | absolute_url }}" alt="terenydogier" />
      </a>
      <a href="https://www.facebook.com/OrzolArtStudio/" target="_new">
          <img class="sponsor" src="{{ "/assets/loga/orzolstudio2.png" | absolute_url }}" alt="orzolstudio" />
      </a>
      <a href="http://forum.wfb-pol.org/viewtopic.php?f=110&t=47815&start=0" target="_new">
          <img class="sponsor" src="{{ "/assets/loga/toczay2.jpg" | absolute_url }}" alt="toczay" />
      </a>
  </div>
{% endif %}
